<table role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
        <img src="https://<%=ENV['BASE_HOST']%>/images/dibella_header.jpg" alt="DiBella Logo" width="100%"/>
        <h3>Congratulations! You are in the running to be one of 5,000 people to get a free Di Bella coffee. </h3>

        <p>Hurry, and download the thnx! app, and enter your redeem code: </p>

        <p style="font-size: 32px"> <strong><%= @code %></strong> </p>
        <p>
          <a href="https://apps.apple.com/au/app/thnx-gratitude-economy/id1475045483">
            <img
              width="150"
              src="https://<%=ENV['BASE_HOST']%>/images/apple.png"
              alt="download appstore"
            />
          </a>
          <a href="https://play.google.com/store/apps/details?id=app.thnx">
            <img
              width="150"
              src="https://<%=ENV['BASE_HOST']%>/images/android.png"
              alt="download playstore"
            />
          </a>
        </p>
               
        <p>Your thnx! coffee can be redeemed at any of these preferred <a href="https://thnx.io/cafe/">Di Bella locations in Australia</a> </p>

        <p>Learn more about how thnx! makes it easy to share your gratitude at <a href="https://thnx.io">thnx.io</a> </p>

        <img src="https://<%=ENV['BASE_HOST']%>/images/logo.png" alt="thnx! logo" width="90"/>
    </td>
  </tr>
</table>